body {
    font-family : Courier New, monospace;
    background: url("../images/background_tetris.jpg");
}

div.container {
    position: absolute;
    font-size: 150%;
    top: 30%;
    left: 30%;
    width: 30%;
    height: 35%;
    padding: 10px;

    border: 5px solid #000;
    border-radius: 5px;

    background: cornflowerblue;
}

#user_name {
    border: 2px solid #ADED59;
    border-radius: 4px;
    padding: 6px 16px 6px 20px;
    margin: 0 0 6px 0;
    background: greenyellow;
}

#enter_button {
    display: inline-block;
    margin: 0 0 0;
    padding: 5px 15px;
    background: greenyellow;
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}